<div *ngIf="users.length > 0" class="container">
    
    <h2>View Users</h2>

    <div class="container">
        <br>
        <form class="form-inline my-2 my-lg-0 right ml-auto">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-info" type="button" (click)="reloadUsers()">Reload Users</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/user/create/']">Create New User</button>
                <button class="btn btn-secondary" (click)="onEnter(box.value)"  >Search User</button>
            </div>
            <input #box class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
        <br>
    </div>

    <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Role</th>                            
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; trackBy: trackCourse"> <!--if the items have not changed, no need to reload them-->
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td> 
                   <button class="btn btn-sm btn-success" type="button" [routerLink]="['/user/details/', user.id]">Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="users.length == 0" class="container">
    <h2>No Users Matching Search</h2>
    <button class="btn btn-info" type="button" (click)="reloadUsers()">Reload Users</button>
</div>

