<div class ="text-center" style="background-color: #f5f5f5;">
<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)" >
  <br>
  <br>
  <img class="mb-4" src="assets/img/user-icon-large.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="alert alert-danger" *ngIf="this.invalidLogin"> 
    <h4>Failed to Login.</h4> 
    <p>The following could help resolve the issue:</p>
    <ol>
      <li>If you just registered, refresh the browser.</li> 
      <li>The jason-server may be down or stuck verify that it is up.</li> 
      <li>Also Verify Your Email and password may be wrong.</li> 
      <li>Delete your local cache tokens and log in again.</li> 
    </ol> 
 </div>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <div class="btn-group" role="group" aria-label="Options">
    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    <button class="btn btn-lg btn-info" routerLink="/register">Register</button>
  </div>
 </form>
</div>
