<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header *ngIf="router.url !== '/login' && router.url !== '/register'" >   
        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color:midnightblue;">
            <div class="container">
              <!-- logo -->
                <div class="navbar-brand">
                    <a href="/" class="navbar-brand logo" alt="UserManager">
                    <img src="assets/img/user-icon.png">
                    </a>
                    <a href="/" class="navbar-brand logo">User Manager App</a>
                </div>
            <div class="nav navbar-right ml-auto">
                <ul class="nav navbar-nav">
                    <li class="nav-item " [class] = "router.url === '/' ? ' active':''"><a class="nav-link " href="/">Home</a></li>
                    <li class="nav-item"  ><a class="nav-link" routerLink="/user/view">View Users</a></li> 
                    <li *ngIf="authService.isLoggedIn() && authService.isAdminUser()" class="nav-item"  ><a class="nav-link " href="/user/home">Manage Users</a></li>
                    <li class="nav-item"  ><a class="nav-link " href="/user/create">Create New</a></li>
                    <li *ngIf="!authService.isLoggedIn()" class="nav-item"  ><a class="nav-link" routerLink="/login">Login</a> </li> 
                    <li *ngIf="authService.isLoggedIn()" class="nav-item"  ><a class="nav-link" (click)="logout()">Logout</a> </li> 
                    <li *ngIf="authService.isLoggedIn()" class="nav-item"  ><a class="nav-link" (click)="getCurrentUser()">{{authService.getLoginName()}}</a> </li> 
                </ul>
            </div>
        </div> 
        </nav> 
        <br>           
    </header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div *ngIf="router.url === '/'" class="container">
    <home-welcome></home-welcome>
</div>

<router-outlet></router-outlet>

<footer class="footer" *ngIf="router.url === '/' || router.url === '/login' || router.url === '/register' ">
    <div class="container text-center" > 
        <p>&copy; DevelopersInc 2020</p>
    </div>
</footer>